/* variables */
/* colores */
/* Color Theme Swatches in Hex */
.Ink-drop-in-water-background-1-hex { color: #03588C; }
.Ink-drop-in-water-background-2-hex { color: #04B2D9; }
.Ink-drop-in-water-background-3-hex { color: #F29F05; }
.Ink-drop-in-water-background-4-hex { color: #F27405; }
.Ink-drop-in-water-background-5-hex { color: #F23005; }

/* body */
*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
i{
    cursor: pointer;
}
/* Welcome */
.welcome{
    color: #fff;
    overflow: hidden;
    min-height: 100vh;  
    width: 100%;
    position: relative;
}

.background{
    /* position: relative; */
    min-height: 100vh;
    background-image: url(../backgroung.jpg);
    /* display: block; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    filter: blur(5px);    

}
.iniciar{
    /* border: 1px solid red; */
    font-size: 6vw;
    position: absolute;
    width: 50%;
    height: auto;
    bottom: 30%;
    left: 25%;
    text-align: center;
    box-sizing: border-box
}
.iniciar input{
    display: none;
}
.iniciar h2{
    /* border: 1px solid red; */

    font-family: 'Expletus Sans';
    margin-top: 3vw;
    margin-bottom: 1vw;
}
.iniciar label{
    font-family: 'Expletus Sans';
    border: 3px solid #fff;
    border-radius: 50px;
    font-size: 3vw;
    padding: 0 5vw;
    cursor: pointer;    
    transition: text-decoration 0.8s, color 1s, font-weight 0.5s ease-in 0.1s;
}
.iniciar label:hover{
    color: black;
    background-color: #fff;
}
/* container */

.container{  
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 55px 1fr;
}
.items{
    font-size: 25px;
    /* position: sticky; */
}

/* header */
.header{
    /* position: fixed; */
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    width:100%;
    font-family: 'Expletus Sans';
    background-color: #04B2D9;
    text-align: right;
    padding-top: 5px;
    box-shadow:  inset 0px -1px 60px #03588C,
                0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
                0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
                0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.nemocon{
     display: grid;
     color: #fff;
     text-align: left;
     height: 40px;
     border-right: 1px solid #fff;
     padding-left: 15px;
     padding-top: 5px;

}
.search{
     padding: 0;
    margin: 0;
    position: relative;
    grid-column: 2/4;
    height: 40px;
}
.containerbar{
    position: absolute;
    width: 60%;
    margin-right: 10%;
    top: 0;
    bottom: 0;
    right: 0;
}
.containerbar input{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.btn{
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    color:  #fff;     
    font-size: 23px;
    background-color: #333;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.btn i{
    padding-right: 8px;
    padding-top: 8px;
}


/* menu */
.menu{
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 45px;
    background-color: #04B2D9;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:  inset 0px -1px 50px #03588C,
                0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
                0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
                0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);

}
.hamburger i{
    transform: rotate(0deg);
    transition: 0.1s ease-in-out;

}
#btn-menu{
    width: 100%;
    display: none;
}
.nav-menu{
    /* border-top: 1px solid #F29F05; */
    opacity: 0;
    /* overflow: hidden; */
    height: 0;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}
.nav-menu ul{
    list-style: none;
    padding: 0;
}
.nav-menu ul li{
    padding: 10px 0px;
    transition: all 0.1s ease;
    border-top: .1px solid #04B2D9;
}
.menu label i{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: rotate(0deg);
    transition: all 0.2s ease;
}
a{
    color:#fff;
    margin-top: 20px;
}

.hamburger i:hover{
    
    cursor: pointer;
    font-size: 30px;
    background-color: #F29F05;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow:  inset 0px -10px 50px #F27405,
                0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
                0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
                0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.menu li:hover{
    font-size: 26px;
    background-color: #F29F05;
    box-shadow:  inset 0px -1px 50px #F27405,
                0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
                0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
                0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}
.menu li:last-child:hover{
    border-bottom-right-radius: 10px;
}
/* Language */
.select {
    position: relative;
    z-index: 10;
    font-family: fontAwesome;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    width:130px;
    height:40px;
    cursor: pointer;
}

.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background-color:#333;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition: background 0.4s ease-in-out;
  box-sizing:border-box;
  /* overflow:hidden; */
  white-space:nowrap;
  cursor: pointer;
  border: none;
  /* border-bottom-left-radius: 20px; */
}

.option:hover {
  background: #666;
  cursor: pointer;

}

.select:focus .option {
  position:relative;
  pointer-events:all;
    cursor: pointer;

}

.select input {
  opacity:0;
  position:absolute;
  left:-99999px;
    cursor: pointer;

}

.select input:checked + label {
  order: 1;
  z-index:2;
  background:#333;
  border:none;
  position:relative;
    cursor: pointer;

}

.select input:checked + label:after {
    content:'';
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
    cursor: pointer;

}

.select input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background:#333;
  cursor: pointer;

}


/* hover */


@media (max-width: 720px){
    .iniciar{
    font-size: 10vw;
    height: 30%;
    /* border: 1px solid red; */
    }
    .iniciar label{
    font-size: 8vw;
    }
    .iniciar h2{
        /* border: 1px solid red; */
        transform: translate(-6vw, 0px);
    }
    .containerbar{
        width: 90%;
        margin-right:5%;
    }
    .nemocon{
        padding-left: 5px;
        width: 140px;

    }
    .map{
        padding-top: 30%;
        font-size: 200px;
    }
}

/* eventos */

/* menu desplegable */
#btn-menu:checked ~.nav-menu{
     opacity: 1;
     height: auto;
}
#btn-menu:checked ~.hamburger i{
    transform:rotate(180deg);
    color: #fff;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;

}
